<a href="https://colab.research.google.com/github/gyeomsoo/Exercise_2025/blob/main/4variable_5annotation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4 variable

In [ ]:
_mysame = 'gyeomsu'
my_name = '민겸수'
MyName3 = 'Min gyeom su'
country = '대한민국'

In [ ]:
1_str = '안녕하세요 파이썬!'

SyntaxError: invalid decimal literal (ipython-input-1982670015.py, line 1)

In [ ]:
_%var = 'Temp Variables'
@address = 'samsjang@naver.com'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-904593571.py, line 1)

In [ ]:
counter = 1
Counter = 2

In [ ]:
and = 1

SyntaxError: invalid syntax (ipython-input-2589573702.py, line 1)

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
abs = 1
abs(-1)

TypeError: 'int' object is not callable

In [ ]:
intData = 1
pi = 3.14

In [ ]:
flag = True

In [ ]:
ch = 'x'
strData = '사랑해요 파이썬!'

In [ ]:
buffer = 1 # buffer에 정수 1을 할당. buffer는 정수 데이터임
buffer + 2

3

In [ ]:
buffer = 'three'
buffer

'three'

#5 annotation

In [1]:
###주석처리 예시
###만든 날짜 2025.9.9

a = 1 # a에 1을 할당
b = 5 # b에 5를 할당
print(a+b) # a+b 값을 출력

6

In [2]:
comment = 'Result ='
# 삼중 따옴표로 특정 영역 주석 처리 예시
"""a = 1
b = 100
print(a+b)"""
a = 5
b = 50
print(comment, a+b)

Result = 55